/* 作者名 */
.author1:before {content: "Gam123" }
.author2:before {content: "臙脂色園児" }
.author3:before {content: "焼肉" }
.author4:before {content: "鷹" }
.author5:before {content: "徳明" }
.author6:before {content: "ぬ" }
.author7:before {content: "尾前勇丁夜田太郎" }
.author8:before {content: "著作拳法・流の型" }
.author9:before {content: "炭酸電池" }
.author10:before {content: "名乗る程の者ではございません" }
.author11:before {content: "suica" }
.author12:before {content: "畳の上の水蓮" }
.author13:before {content: "うっぺれ" }
.author14:before {content: "遅刻します" }
.author15:before {content: "いくぜ" }
.author16:before {content: "名雲きつね" }
.author17:before {content: "秋草" }
.author18:before {content: "おととい" }
.author19:before {content: "牧場の牛肉" }
.author20:before {content: "ジャスティス" }
.author21:before {content: "二階堂モス" }
.author22:before {content: "完成させたことないマン" }
.author23:before {content: "ケイト" }
.author24:before {content: "かすていら" }
.author25:before {content: "へんたい" }
.author26:before {content: "ぶるあああああああああああああああああああああああああああ" }
.author27:before {content: "RED PYRAMID THING" }
.author28:before {content: "FAH-Q" }
.author29:before {content: "lpre" }
.author30:before {content: "夏の陣に出すゲームの作者" }
.author31:before {content: "黒蟻大使" }
.author32:before {content: "トカゲのしっぽな" }
.author33:before {content: "クルマユ大好き丸" }
.author34:before {content: "ざるそば" }
.author35:before {content: "うんこ" }
.author36:before {content: "さみだれてないおでん" }
.author37:before {content: "Munaha-R" }
.author38:before {content: "UDON.com" }
.author39:before {content: "シア=ナードクス" }
.author40:before {content: "裏ハイチュウ" }
.author41:before {content: "屁☆以下" }
.author42:before {content: "あひょふりぐ" }
.author43:before {content: "kemono" }
.author44:before {content: "ミルクちゃん" }
.author45:before {content: "あく" }
.author46:before {content: "幻草" }
.author47:before {content: "千年ポテチ" }
.author48:before {content: "近藤大輔" }
.author49:before {content: "ただの屍" }
.author50:before {content: "てんじょういん餡蜜" }
.author51:before {content: "_" }
.author52:before {content: "刺身のつまようじ" }
.author53:before {content: "ルズ" }
.author54:before {content: "鳳天舞の陣－１" }
.author55:before {content: "占い師：女" }
.author56:before {content: "脂はむ" }
.author57:before {content: "神咲ハジメ" }
.author58:before {content: "◆2aLlGIkY8s" }

/* 使用ツクール */
.tkool1:before {content: "2000" }
.tkool2:before {content: "2000" }
.tkool3:before {content: "2000" }
.tkool4:before {content: "2000" }
.tkool5:before {content: "2000" }
.tkool6:before {content: "2000" }
.tkool7:before {content: "2000" }
.tkool8:before {content: "2000" }
.tkool9:before {content: "2000" }
.tkool10:before {content: "2000" }
.tkool11:before {content: "VXace" }
.tkool12:before {content: "2000" }
.tkool13:before {content: "2000" }
.tkool14:before {content: "2000" }
.tkool15:before {content: "2000" }
.tkool16:before {content: "2000" }
.tkool17:before {content: "2000" }
.tkool18:before {content: "2000" }
.tkool19:before {content: "2000" }
.tkool20:before {content: "2000" }
.tkool21:before {content: "2000" }
.tkool22:before {content: "2000" }
.tkool23:before {content: "2000" }
.tkool24:before {content: "2000" }
.tkool25:before {content: "2000" }
.tkool26:before {content: "VX" }
.tkool27:before {content: "2000" }
.tkool28:before {content: "2000" }
.tkool29:before {content: "2000" }
.tkool30:before {content: "2000" }
.tkool31:before {content: "2000" }
.tkool32:before {content: "2000" }
.tkool33:before {content: "2000" }
.tkool34:before {content: "2000" }
.tkool35:before {content: "2000" }
.tkool36:before {content: "2000" }
.tkool37:before {content: "VXAce" }
.tkool38:before {content: "2000" }
.tkool39:before {content: "2000" }
.tkool40:before {content: "2000" }
.tkool41:before {content: "VXAce" }
.tkool42:before {content: "2000" }
.tkool43:before {content: "2000" }
.tkool44:before {content: "???" }
.tkool45:before {content: "2000" }
.tkool46:before {content: "2000" }
.tkool47:before {content: "MV" }
.tkool48:before {content: "2000" }
.tkool49:before {content: "2000" }
.tkool50:before {content: "2000" }
.tkool51:before {content: "2000" }
.tkool52:before {content: "2000" }
.tkool53:before {content: "2000" }
.tkool54:before {content: "2000" }
.tkool55:before {content: "2000" }
.tkool56:before {content: "2000" }
.tkool57:before {content: "2000" }
.tkool58:before {content: "2000" }


/* 公開可否 */
.koukai34:before {content: "おすきに/してよい" }
.koukai35:before {content: "可/可" }
.koukai36:before {content: "可/可" }
.koukai37:before {content: "付属のtxtファイルをご確認ください。" }
.koukai38:before {content: "どうぞ/どうぞ" }
.koukai39:before {content: "共に条件付き" }
.koukai40:before {content: "可/可" }
.koukai41:before {content: "OK" }
.koukai42:before {content: "よろこぶ／よろこぶ" }
.koukai43:before {content: "いづれも可" }
.koukai44:before {content: "自由" }
.koukai45:before {content: "自己責任で" }
.koukai46:before {content: "ともに可能" }
.koukai47:before {content: "するほど需要ないと思いますが一応ＯＫです" }
.koukai48:before {content: "可/可" }
.koukai49:before {content: "＾＾；" }
.koukai50:before {content: "だめ" }
.koukai51:before {content: "自☆己☆責☆任" }
.koukai52:before {content: "どっちもオッケー" }
.koukai53:before {content: "▽/△" }
.koukai54:before {content: "可" }
.koukai55:before {content: "可/可　※ただし自己責任" }
.koukai56:before {content: "可能/可能" }
.koukai57:before {content: "俺のファンのみ可" }
.koukai58:before {content: "俺に/不可能はない" }


/* ＢＯＤＹタグ */
body {
background-color: #ffffff;
background-attachment: fixed;
background-image: url(./bg2-2.jpg);
background-repeat: no-repeat;
background-position: right bottom;
color: #0B3861;
font-size: 10pt;
}



/* 未訪問リンク色 */
a:link {
color: #0033ff;
}

/* 訪問済リンク色 */
a:visited {
color: #6633cc;
}

/* アクティブリンク色 */
a:hover {
color: #ff33aa;
}

/* クリック中リンク色 */
a:active {
color: #ff33aa;
}

/* テキストボックススタイル */
TEXTAREA
{
font-size: 12px;
color: #0B3861;
border-style:none;
resize:none;
}

/* テーブルスタイル */
table
{
   border-bottom: solid 1px #000000;
   border-left: solid 1px #000000;
   margin-left: 2%;
   font-size: 13px;
   color: #000000
}
tr.yellow td
{
background-color: #e1f0ef;
}

th,td
{
	background-color: #ffffff;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
	word-break:break-all;
}

th {
background-color: #2861c3;
}

/* ラインスタイル */
HR {
color: #336666;
}

/* 大見出しタイトル */
h6.sample{
    margin:0;
    font-family:"ＭＳ Ｐゴシック","Osaka",sans-serif；
    font-size:36px;
    color:#ff8d00;
    font-style:italic;
    border-bottom:double 3px #e766ff;
    line-height:0.4;
}
.sample span{
    font-family:"Times New Roman"；
    font-size:24px;
    color:#c5253d;
    padding-left:10em;
    font-variant:small-caps;
    word-spacing:10px;
    letter-spacing:3px;
    display:block;
}

/* 見出し（青） */
.midashi {
margin-left: 2%;
margin-right: 30%;
background-color: #2861c3;
border-left: #000000 1px solid;
border-right: #000000 1px solid;
border-top: #000000 1px solid;
color: #ffffff;
font-weight: bold;
font-size: 15px;
font-style:italic;
padding: 5px;
}

/* 見出し（薄青） */
.midashi2 {
margin-left: 2%;
margin-right: 50%;
margin-top: 0.3%;
    background-color:#FFFFFF;
    border-style:none inset none outset;
    border-width:0px 15px;
    border-color:#005eff;
padding: 3px;
}

/* 見出し（ジャンル別用）*/
.midashi3 {
margin-left: 5%;
margin-right: 40%;
background-color: #2fd08f;
border-left: #b6f906 10px solid;
color: #ffffff;
font-weight: bold;
font-size: 12px;
padding: 8px;
}

/* 見出し（メニュー）*/
.h1 {
	margin-left: 5%;
	margin-right: 50%;
	position: relative;
	padding: 0 .5em .4em 1.9em;
	border-bottom: 1px solid #ccc;
}
.h1::after {
	position: absolute;
	top: .4em;
	left: .4em;
	z-index: 2;
	content: '';
	width: 12px;
	height: 12px;
	background-color: #ccc;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* 見出し（メニュー2）*/
.h2 {
	margin-left: 2%;
	margin-right: 20%;
	position: relative;
	padding-bottom: .5em;
	border-bottom: 4px solid #ccc;
}
.h2::after {
	position: absolute;
	bottom: -4px;
	left: 0;
	z-index: 2;
	content: '';
	width: 20%;
	height: 4px;
	background-color: #3498db;
}


/* 枠（メイン）のスタイル */
.waku1 {
margin-left: 2%;
margin-bottom: 5px;
margin-right: 30%;
background-color: #ffffff;
border-left: #000000 1px solid;
border-right: #000000 1px solid;
border-bottom: #000000 1px solid;
padding: 10px;
font-size: 13px;
}

/* 枠（単独囲い）のスタイル */
.waku2 {
margin-left: 2%;
margin-right: 2%;
margin-bottom: 2px;
background-color: #ffffff;
border-left: #000000 1px solid;
border-right: #000000 1px solid;
border-bottom: #000000 1px solid;
border-top: #000000 1px solid;
padding: 5px;
font-size: 13px;
}

/* 左マージン有りボーダー */
.toumei1
{
   margin-left: 7%;
   margin-top: 3%;
   margin-right: 40%;
}

/* 黒見出し */
.black {
background-color: #2861c3;
color: #ffffff;
font-weight: bold;
font-size: 13px;
margin-right: 45%;
margin-left: 2%;
}


/* メニュー */
#menu ul{
margin: 0;
padding: 0;
list-style: none;
}

#menu li{
position:relative;
display: inline;
padding: 0;
margin: 0;
float: left;
}

.menu-tooltips {
  display: none;
  position: absolute;
  bottom: -3.8em;
  left: -8.3em;
  z-index: 9999;
  padding: 0.3em 0.5em;
  color: #FFFFFF;
  background: #000000;
  border-radius: 0.5em;
}
.menu-tooltips:after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  left: 11.5em;
  top: -8px;
  border-top:8px solid transparent;
  border-left:8px solid #000000;
}

#menu li a{
display: block;
border: 1px solid #666;
background-color: #ffffff;
padding: 3px;
text-decoration: none;
color: #333;
width: 90px;
margin: 1px;
text-align: center;
font-size: 14px;
}
#menu li a:hover{
background-color: #2d56be;
color: #fff;
}

#menu li:hover .menu-tooltips {
  display: block;
}





/* ボックス横並び */
.boxWrap{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  margin-left: 3%;
}

/* ボックス　縁取り */
.block {
    padding: 10px;
    background: #fff;
    border: 1px #666 solid;
  	margin: 7px;
}





